{{#if boxes}}

<div class="boxes gamepad-not-outside">
  {{#each boxes}}

  <div class="box{{#if variant}} box-{{variant}}{{/if}}">
    <div class="box-title body-medium">
      <span class="box-title-pill">{{title}}</span>
    </div>
    <div class="box-content">
      <div
        class="content-view-module content-view-module-{{@root.page.viewModuleSize}}"
      >
        {{#compare variant '==' 'anilist-trending'}}
        {{#each comics}} {{> index.content.right.trending.item.html parent=..}}
        {{/each}}
        {{else compare variant '==' 'anilist-popular'}}
        {{#each comics}} {{> index.content.right.trending.item.html parent=..}}
        {{/each}}
        {{else}}
        {{#each comics}} {{> index.content.right.module.item.html parent=..}}
        {{/each}}
        {{/compare}}
      </div>
    </div>
  </div>

  {{/each}}
</div>

{{/if}}
